@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    font-family: "Montserrat";
}

.container{
    width: 1140px;
    margin: 0 auto;
}

nav{
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    margin: 0 20px;
    text-decoration: none;
    color: #555555;
    font-size: 16px;
}

a.active{
    font-weight: bold;
    color: #fe5678;
}

button.btn-primary{
    padding: 18px 40px;
    border: none;
    background-color: #fe5678;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.row-hero{
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-auto-rows: 1fr;
    column-gap: 24px;
}

h1.heading{
    margin-top: 114px;
    font-size: 48px;
    color: #272727;

}

p.para{
    color: #636363;
    width: 60%;
    line-height: 30px;
    margin-bottom: 40px;
}

a.link-action{
    color: #fe5678;
    position: absolute;
    font-weight: bold;
}

.col img{
    position: absolute;
    width: 538px;
    height: 274px;
    top: 491px;
    right: 70px;
}
